@import "tailwindcss";

@theme {
  --color-golden-sand: #E1CE7A;
  --color-cream: #fbffb9;
  --color-apricot-cream: #fdd692;
  --color-burnt-beat: #ec7357;
  --color-mauve-bark: #754f44
}

@layer components {
    .btn-primary {
        @apply flex justify-center items-center px-3 py-1.5 rounded cursor-pointer font-medium text-sm bg-apricot-cream/50 hover:bg-apricot-cream text-black;
    }
    .btn-outline {
        @apply flex justify-center items-center px-3 py-1.5 rounded cursor-pointer font-medium text-sm border hover:bg-gray-200;
    }
}